name: check markdown

on:
  workflow_call:
    inputs:
      files:
        type: string
        default: "**/*.md"
      prettier_version:
        type: string
        default: "latest"

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Check Markdown file formatting
        env:
          INPUTS_PRETTIER_VERSION: ${{ inputs.prettier_version }}
          INPUTS_FILES: ${{ inputs.files }}
        run: |
          set -euo pipefail

          # Split INPUTS_FILES into an array (space-separated)
          IFS=' ' read -r -a files <<<"$INPUTS_FILES"

          npx --yes "prettier@${INPUTS_PRETTIER_VERSION}" \
            --check \
            --debug-check \
            --color \
            --prose-wrap always \
            -- "${files[@]}"
