name: check rust / beta

on:
  workflow_call:

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings

jobs:
  test_beta:
    name: test beta
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Install beta Rust toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: beta
      - name: Set override to beta Rust
        run: rustup override set beta
      - name: Install cargo-nextest
        uses: taiki-e/install-action@2c73a741d1544cc346e9b0af11868feba03eb69d
        with:
          tool: cargo-nextest
      - name: Compile tests
        run: cargo test --locked --no-run
      - name: Run tests
        run: cargo nextest run --locked --all-targets
      - name: Run doctests
        run: cargo test --locked --doc
