name: check github actions

on:
  workflow_call:

jobs:
  lint_workflows:
    name: lint workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Lint GitHub Actions workflow files
        uses: raven-actions/actionlint@3a24062651993d40fed1019b58ac6fbdfbf276cc
        with:
          group-result: false
