name: check spelling

on:
  workflow_call:
    inputs:
      files:
        type: string
        default: "."

jobs:
  find_typos:
    name: find typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Check files for common misspellings
        uses: crate-ci/typos@65120634e79d8374d1aa2f27e54baa0c364fff5a
        with:
          files: "${{ inputs.files }}"
