name: check rust / beta

on:
  workflow_call:

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings

jobs:
  test_beta:
    name: test beta
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install beta Rust toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: beta
      - name: Set override to beta Rust
        run: rustup override set beta
      - name: Install cargo-nextest
        uses: taiki-e/install-action@f3a27926ea13d7be3ee2f4cbb925883cf9442b56
        with:
          tool: cargo-nextest
      - name: Compile tests
        run: cargo test --locked --no-run
      - name: Run tests
        run: cargo nextest run --locked --all-targets
      - name: Run doctests
        run: cargo test --locked --doc
