name: check rust / miri

on:
  workflow_call:

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings

jobs:
  test_miri:
    name: test miri
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Install nightly Rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: nightly
          components: miri
      - name: Set override to nightly Rust
        run: rustup override set nightly
      - name: Setup Miri environment
        run: cargo miri setup
      - name: Compile tests with Miri
        run: cargo miri test --no-run
      - name: Run tests with Miri
        run: cargo miri test
