name: check rust / beta

on:
  workflow_call:

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings

jobs:
  test_beta:
    name: test beta
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Install beta Rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: beta
      - name: Set override to beta Rust
        run: rustup override set beta
      - name: Install cargo-nextest
        uses: taiki-e/install-action@a632d43378d77581e7441d0833ad517e52ca1fef
        with:
          tool: cargo-nextest
      - name: Compile tests
        run: cargo test --locked --no-run
      - name: Run tests
        run: cargo nextest run --locked --all-targets
      - name: Run doctests
        run: cargo test --locked --doc
