name: check spelling

on:
  workflow_call:
    inputs:
      files:
        type: string
        default: "."

jobs:
  find_typos:
    name: find typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Check files for common misspellings
        # NOTE: dependabot struggles with determining the latest release version
        #       in this monorepo; see https://github.com/crate-ci/typos/releases
        uses: crate-ci/typos@52bd719c2c91f9d676e2aa359fc8e0db8925e6d8
        with:
          files: "${{ inputs.files }}"
