name: detect changed files

on:
  workflow_call:
    outputs:
      added_or_modified:
        value: ${{ jobs.filter_changes.outputs.added_or_modified }}
      added_or_modified_files:
        value: ${{ jobs.filter_changes.outputs.added_or_modified_files }}
      flutter:
        value: ${{ jobs.filter_changes.outputs.flutter }}
      flutter_files:
        value: ${{ jobs.filter_changes.outputs.flutter_files }}
      github_actions:
        value: ${{ jobs.filter_changes.outputs.github_actions }}
      github_actions_files:
        value: ${{ jobs.filter_changes.outputs.github_actions_files }}
      markdown:
        value: ${{ jobs.filter_changes.outputs.markdown }}
      markdown_files:
        value: ${{ jobs.filter_changes.outputs.markdown_files }}
      rust:
        value: ${{ jobs.filter_changes.outputs.rust }}
      rust_files:
        value: ${{ jobs.filter_changes.outputs.rust_files }}
      zig:
        value: ${{ jobs.filter_changes.outputs.zig }}
      zig_files:
        value: ${{ jobs.filter_changes.outputs.zig_files }}

jobs:
  filter_changes:
    name: filter changes
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      added_or_modified: ${{ steps.filter.outputs.added_or_modified }}
      added_or_modified_files: ${{ steps.filter.outputs.added_or_modified_files }}
      flutter: ${{ steps.filter.outputs.flutter }}
      flutter_files: ${{ steps.filter.outputs.flutter_files }}
      github_actions: ${{ steps.filter.outputs.github_actions }}
      github_actions_files: ${{ steps.filter.outputs.github_actions_files }}
      markdown: ${{ steps.filter.outputs.markdown }}
      markdown_files: ${{ steps.filter.outputs.markdown_files }}
      rust: ${{ steps.filter.outputs.rust }}
      rust_files: ${{ steps.filter.outputs.rust_files }}
      zig: ${{ steps.filter.outputs.zig }}
      zig_files: ${{ steps.filter.outputs.zig_files }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 20
      - name: Filter changed repository files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          list-files: shell
          filters: |
            added_or_modified:
              - added|modified: '**'
            flutter:
              - '**/*.dart'
              - '**/pubspec.*'
              - 'analysis_options.yaml'
            github_actions:
              - added|modified: .github/workflows/*.yml
              - added|modified: .github/workflows/*.yaml
            markdown:
              - added|modified: '**/*.md'
            rust:
              - '**/*.rs'
              - '**/Cargo.*'
            zig:
              - '**/*.zig'
              - '**/*.zon'
