name: draft release / rust

on:
  workflow_call:
    inputs:
      package:
        description: Cargo package
        required: true
        type: string

permissions:
  contents: write

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings

jobs:
  create_draft_release:
    name: create draft release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.gh_release.outputs.upload_url }}
      url: ${{ steps.gh_release.outputs.url }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - id: gh_release
        name: Create a new GitHub draft release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8
        with:
          draft: true
          generate_release_notes: true
      - name: Annotate workflow run with draft release URL
        run: 'echo "### :shipit: Opened draft release for: [${{ inputs.package }} ${{ github.ref_name }}](${{ steps.gh_release.outputs.url }})" >> "$GITHUB_STEP_SUMMARY"'

  upload_release_assets:
    name: upload release assets
    needs:
      - create_draft_release
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            os: macos-latest
            build_tool: cargo
          - target: aarch64-pc-windows-msvc
            os: windows-latest
            build_tool: cargo
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            build_tool: cross
          - target: x86_64-apple-darwin
            os: macos-latest
            build_tool: cargo
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            build_tool: cargo
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            build_tool: cargo
    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install musl tools
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y musl-tools
      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - name: Cache dependencies
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
        with:
          shared-key: stable-ubuntu-latest
        timeout-minutes: 5
      - name: Install cross
        if: matrix.os == 'ubuntu-latest'
        uses: taiki-e/install-action@f3a27926ea13d7be3ee2f4cbb925883cf9442b56
        with:
          tool: cross
      - name: Building release assets
        run: |-
          if [[ "${{ matrix.build_tool }}" == "cross" ]]; then
          	cargo xtask dist --target "${{ matrix.target }}" --cross
          else
          	cargo xtask dist --target "${{ matrix.target }}"
          fi
      - name: Uploading release assets
        run: |-
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            extension="zip"
          else
            extension="tar.gz"
          fi
          filename="${{ inputs.package }}-${GITHUB_REF_NAME:1}-${{ matrix.target }}.${extension}"
          echo "Uploading ${filename} to: ${{ needs.create_draft_release.outputs.upload_url }}"
          gh release upload "$GITHUB_REF_NAME" "target/dist/${filename}"
          echo ":arrow_up: Uploaded release asset ${filename}" >>"$GITHUB_STEP_SUMMARY"
