name: preload caches / actionlint

on:
  workflow_call:

jobs:
  cache_actionlint_latest:
    name: cache actionlint / latest
    runs-on: ubuntu-latest
    steps:
      - name: Save latest actionlint into GitHub Actions cache
        uses: raven-actions/actionlint@3a24062651993d40fed1019b58ac6fbdfbf276cc
        with:
          group-result: false
          flags: -version
