name: tag untagged releases / rust

on:
  workflow_call:
    secrets:
      APP_ID:
        description: GitHub App installation ID
        required: true
      APP_PRIVATE_KEY:
        description: GitHub App private key
        required: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings

jobs:
  tag_if_missing:
    name: tag if missing
    runs-on: ubuntu-latest
    env:
      GIT_COMMITTER_EMAIL: noreply@github.com
      GIT_COMMITTER_NAME: GitHub
    steps:
      - id: generate_token
        name: Generate a GitHub App token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: main
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 0

      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
        with:
          shared-key: stable-ubuntu-latest
        timeout-minutes: 5

      - name: Install cargo-release
        uses: taiki-e/install-action@a632d43378d77581e7441d0833ad517e52ca1fef
        with:
          tool: cargo-release

      - name: Capture tags before
        run: |-
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "TAGS_BEFORE<<$EOF"
            git tag --list
            echo "$EOF"
          } >>"$GITHUB_ENV"

      - name: Add any missing tags
        run: cargo release tag -v --execute --no-confirm || true

      - name: Push any new tags
        run: cargo release push -v --execute --no-confirm

      - name: Capture tags after
        run: |-
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "TAGS_AFTER<<$EOF"
            git tag --list
            echo "$EOF"
          } >>"$GITHUB_ENV"

      - name: Annotate workflow run with new tags
        run: |-
          if [[ "${{ env.TAGS_BEFORE }}" != "${{ env.TAGS_AFTER }}" ]]; then
            echo "### :sparkles: New tags:" >>"$GITHUB_STEP_SUMMARY";
            comm -3 <(echo "${{ env.TAGS_BEFORE }}") <(echo "${{ env.TAGS_AFTER }}") | sed -e 's/^[[:space:]]*//' -e 's/^/- /' >>"$GITHUB_STEP_SUMMARY";
          fi
